<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.dcosta.tracks">

    <!--
        <permission android:name="at.dcosta.tracks.permission.MAPS_RECEIVE"
            android:protectionLevel="signature"/>
    -->
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="android.permission.READ_PHONE_STATE" />
    <permission android:name="android.permission.BLUETOOTH" />
    <permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="com.javapapers.currentlocationinmap.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- start OSM -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
        <uses-permission
            android:name="at.dcosta.tracks.permission.MAPS_RECEIVE"/>
    -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/MyDarkTheme">
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <activity
            android:name="at.dcosta.tracks.TrackManager"
            android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- start props -->
        <activity android:name="at.dcosta.android.fw.props.gui.PropertyList" />
        <activity android:name="at.dcosta.android.fw.props.gui.TextPropertyEditor" />
        <activity android:name="at.dcosta.android.fw.props.gui.ValueCollectionPropertyEditor" />
        <activity android:name="at.dcosta.android.fw.props.gui.BooleanPropertyEditor" />
        <activity android:name="at.dcosta.android.fw.props.gui.FileFolderPropertyEditor" />
        <activity android:name="at.dcosta.android.fw.props.gui.FileChooser" />
        <activity android:name="at.dcosta.android.fw.props.gui.DatePropertyEditor" />
        <!-- end props -->

        <activity android:name="at.dcosta.tracks.graph.XYPlotDemo" />

        <activity android:name="at.dcosta.tracks.TrackList" />
        <activity android:name="at.dcosta.tracks.TrackEdit" />
        <activity
            android:name="at.dcosta.tracks.TrackOnMap"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="at.dcosta.tracks.graph.TrackProfile" />
        <activity android:name="at.dcosta.tracks.graph.TrackEkg" />
        <activity android:name="at.dcosta.tracks.TrackSearch" />
        <activity android:name="at.dcosta.tracks.TrackCopy" />
        <activity
            android:name="at.dcosta.tracks.ViewPhotos"
            android:screenOrientation="portrait" />
        <activity android:name="at.dcosta.tracks.Loader" />
        <activity
            android:name="at.dcosta.tracks.RecordTrack"
            android:alwaysRetainTaskState="true"
            android:enabled="true"
            android:launchMode="singleTask" />
        <activity
            android:name="at.dcosta.tracks.RecordTrackOsm"
            android:alwaysRetainTaskState="true"
            android:enabled="true"
            android:launchMode="singleTask" />
        <activity android:name="at.dcosta.tracks.TrackDetails" />
        <activity android:name="at.dcosta.tracks.TrackOnOsmMap" />
        <activity android:name="at.dcosta.tracks.track.share.BluetoothSender" />
        <activity android:name="at.dcosta.tracks.track.share.BluetoothReceiver" />

        <service android:name="at.dcosta.tracker.TrackerService" />
        <!--
        <service
            android:name="org.andnav.osm.services.OpenStreetMapTileProviderService"
            android:label="OpenStreetMapTileProviderService"
            android:process=":remote">
            <intent-filter>
                    <action android:name="org.andnav.osm.services.IOpenStreetMapTileProviderService" />
            </intent-filter>
        </service>
        -->
        <!--
                <meta-data
                    android:name="com.google.android.gms.version"
                    android:value="@integer/google_play_services_version" />
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />

    </application>

</manifest>